@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Poppins:wght@300;500&display=swap');

*{
margin: 0;
padding: 0;
text-decoration: none;
list-style: none;
}

body{
     font-family:'Times New Roman', Times, serif, sans-serif;
     
    }
header {
height: 100vh;
width: 100vW;
background-image: url(./images/body.jpg);
background-color: cover;

}
/**********début de la Navbar*******/
.navbar {
    background-color: rgba(189, 189, 5, 0.897);
    position: relative;
    z-index: 1;
    height: 10vh;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}
.navbar a {
    color: black;
    display: flex;
    word-spacing: 10%;
    
}
.navbar .logo img {
    width: 30px ;
    height: 30px;
    margin-right: 1rem;
}
.navbar .nav-links ul {
    display: flex;
    justify-content: space-between;
}

.navbar .nav-links ul li {
    margin: 0 25px;
    
}
.navbar .nav-links a img{
    width: 30px;
    height: 30px;
}
.navbar .nav-links ul li  h1, h2, h3, h4 {
    display: none;
}
.navbar .nav-links ul li.active a {
    color: red;
    font-weight: 600;

}

.navbar .menu-hamburger {
    display: none;
    position: absolute;
    top: 40px;
    right: 30px;
    width: 35px;

}

/**********fin de la Navbar********/
/*******************Responsive de la Navbar**********/
@media screen and (max-width: 900px) {
    header {
        height: 100vh;
        width: 100vW;
        background-image: url(./images/body.jpg);
        background-color: cover;
        
        }
    
    
    .navbar {
        padding: 0;
        color: rgba(180, 174, 27, 0.753);
        top: 0
    }
    .navbar .logo {
        position: absolute;
        top: 20px;
        left: 30px;   
}
    .navbar .menu-hamburger{
        top: 20px;
        display: block;
    }
    .nav-links{
        top: 0;
        left: 0;
        position: absolute;
        background-color: rgba(170, 162, 175, 0.433);
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -100%;
        transition: all 0.10s ease;
    }
    .navbar .nav-links a img{
        width: 30px;
        height: 30px;
        display: none;
    }

    .navbar .nav-links ul li  h1, h2, h3, h4 {
        display: block;
        margin: 1rem;
        font-size: 2em;
    }
    .nav-links.mobile-menu {
        margin-left: 0;
    }
    .nav-links ul{
        display: flex;
        flex-direction:  column;
        align-items: center;
       

    }
}
/*****************fin du responsive de la navbar************/
/************Section page d'accueil*******/
.home {
    background-image: url(images_caroussel/pexels-mudassir-ali-2300397_copie.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
    box-sizing: border-box;
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
}


.home h1 {
    font-size: 5rem;
    font-style: oblique;
    margin-bottom: 40%;
    margin-left: 30%;
}
span {
    color: brown;
}
.span1 {
  margin-left: 5%;
  margin-top: 5%;
}
.span2{
    margin-left: 40%;
}

#caroussel {
    width: 400px;
    overflow: hidden;
    border: 2px solid black;
    border-radius: 1em;
    margin-right: 5%;
    margin-bottom: 28%;
    
  
}

.image_caroussel {
    display: flex;
    animation-duration: 20s;
    animation-name: mesImages;   
    animation-iteration-count: infinite ;
    
}

@keyframes mesImages {
    0% {
        transform: translateX(0);
    }
    20% {
        transform: translateX(-360px);
    }
    40% {
        transform: translateX(-720px);
    }
    60% {
        transform: translateX(-1080px);
    }
    80% {
        transform: translateX(-1440px);
    }
    100% {
        transform: translateX(0);
    }
}
/**************fin de la page de section**********/
/**********************Responsive de la page d'accueille**********/
@media screen and (max-width: 1250px){
   
    
    #caroussel{
        margin-bottom: 30%;
    }
    .home h1{
    
        margin-left: 1px;}
    }

@media screen and (max-width: 900px) {
    .home {
        display: flex;
        flex-direction: column;
        margin-top: 0%;
        overflow: hidden;

    }
    .home h1{
        font-size: 4rem;
        color: red;
        margin-top: 10%;
    }
    #caroussel {
        min-height: 200px;
        display: fixed;
        margin-bottom: 0%;
        
    }
}
@media screen and (max-width: 600px){
    .home {
        display: flex;
        flex-direction: column;
        margin-top: 0%;
}
.home h1{
    font-size: 3rem;
    color: red;
    margin-top: 8%;
}
 #caroussel {
        margin-bottom: 2%;
        width: 300px;
        
}
}

@media screen and (max-width: 500px){
   #caroussel {
      height: 200px;
      margin-bottom: 2%;
      width: 290px;
      align-items: center;
     
    }
}
/****************section Jet Ski*************/

.container{
    padding: 0%;
    margin: 0%;
    background-image: url(images/Plage3.jpg);
    background-size: cover;
    background-position: center;
    z-index: -1;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.container-card{
    width: 65%;
    max-width: 1250px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
}

.card-wrapper{
    position: relative;
    min-height: 350px;
    perspective: 1000px;
    perspective-origin: top;
}

.card-wrapper .card:hover{
    transform: rotateY(180deg);
}

.card{
    position: relative;
    height: 38vh;
    width: 100%;
    transform-style: preserve-3d;
    transition: transform 1s cubic-bezier(0.86, 0, 0.07, 1);
    margin: 2.5em auto;
    min-height: 200px;
}

.card-front,
.card-back{
    border-radius: 50%;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.card-front{
    background-image: url(images/fond.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.card-front p{
    text-align: center;
    align-items: center;
    font-size: 3em;
    font-weight: 900;
    width: 25%;
    height: auto;
    margin: 3%;
}

p span{
    display: block;
}

.jetski-img{
    height: 100%;
    width: 75%;
    align-items: center;
}

.card-front img{
    max-width: 25em;
    max-height: 13em;
}

.card-back{
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: aliceblue;
}

.card-back p{
    font-size: 1.5em;
    width: 75%;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
}

.panier-img{
    margin: auto;
    height: auto;
}

.card-back img{
    max-height: 100px;
    max-width: 100px;
}

@media (max-width: 1200px){
    .card-back p{
        font-size: 16px;
    }
    .card-front p{
        font-size: 2em;
        font-weight: 600;
    }
    .card-wrapper .card:hover{
        transform: rotateY(180deg);
    }
}

@media (max-width: 900px){
    .card-back p{
        font-size: 14px;
    }
    .card-back img{
        max-height: 70px;
        max-width: 70px;
    }
    .card-front p{
        font-size: 1.8em;
        font-weight: 600;
    }
    .card{
        margin: 1em auto;
    }
}


@media (max-width: 600px){
    .card-back p{
        font-size: 9px;
        margin-top: 10%;
    }
    .card-back img{
        max-height: 50px;
        max-width: 50px;
    }
    .card-back{
        display: flex;
        flex-direction: column;
    }
    .panier-img{
        margin: 0 auto 40px auto;
        max-width: 50px;
        max-height: 50px;
    }
    .card-front img{
        min-width: 8em;
        min-height: 4em;
    }
}